.contact-wrap {
  display: flex;
  gap: 80px;
  align-items: center;
}
.mail-text-wrap {
  display: flex;
  justify-content: flex-end;
  /* width: 50%; */
  color: #ffefda;
}
.mail-text-wrap p {
  width: 100%;
  font-size: 25px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: -0.8px;
}
.mail-wrap {
  display: flex;
  justify-content: flex-end;
  /* width: 50%; */
}

.contact-mail {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dfd3c3;
  line-height: 1.2rem;
  background: 0 0;
  border: none;
  outline: 0;
  font-family: "panchang", sans-serif;
  position: relative;
  background: linear-gradient(45deg, rgb(24, 56, 164), rgb(48, 19, 75));;
  border-radius: 15px;
  width: 100%;
}
.contact-mail i{
  font-size: 20px;
}
.contact-mail:hover {
  background: linear-gradient(-45deg, rgb(24, 56, 164), rgb(48, 19, 75));;
  transform: translateY(-2px);
  box-shadow: 3px 5px 5px gray;
}

.contact-mail a {
  cursor: pointer;
  font-size: 25px;
  font-weight: 700;
  text-decoration: none;
  color: #dfd3c3;
  z-index: 99;
  padding: 40px 14px;
 
}
/* .contact-mail::after {
  content: "";
  position: absolute;
  left: -30px;
  transform: rotate(2deg);
  border: 2px solid rgba(255, 252, 223, 0.507);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  width: 115%;
  height: 450%;
} */
@media screen and (max-width: 1700px) {
  .contact-mail a {
    font-size: 20px;
  }
}
@media screen and (max-width: 1400px) {
  .contact-mail .fa-envelope {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .contact-mail .fa-envelope {
    display: block;
  }
}
@media screen and (max-width: 880px) {
  .contact-mail a {
    font-size: 20px;
  }
  .mail-text-wrap {
    justify-content: flex-start;
  }
  .mail-text-wrap p {
    width: 80%;
  }
}
@media screen and (max-width: 770px) {
  .contact-wrap {
    flex-direction: column;
  }
  .mail-text-wrap {
    width: 100%;
    justify-content: flex-start;
  }
  .mail-text-wrap p {
    width: 90%;
    font-size: 20px;
    line-height: 27px;
  }
  .mail-wrap {
    width: 100%;
    justify-content: flex-start;
  }
  .contact-mail a {
    font-size: 24px;
  }
  .contact-mail{
    margin-top: 20px;
  }
}
@media screen and (max-width: 550px) {
  .contact-wrap {
    flex-direction: column;
  }
  .mail-text-wrap {
    width: 100%;
    justify-content: flex-start;
  }
  .mail-text-wrap p {
    width: 90%;
    font-size: 15px;
    line-height: 17px;
  }
  .mail-wrap {
    width: 100%;
    justify-content: flex-start;
  }
  .contact-mail a {
    font-size: clamp(12px, 9px + 1.3vw, 20px);
  }
}
